.is-muted {
  color: $grey-light !important;
}

a.is-muted:hover{
  color: $grey !important;
}

.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 103%;
    z-index: 1000;
    background-color: white;
    min-width: 200px;
    text-align: left;
    box-shadow: 0 0 8px #777;

    li{
      &.seperator{
        border-top: 1px solid #ccc;
        margin:5px 0;
      }
      &>a {
        margin: 5px 0;
        padding: 5px 0 5px 15px;
        display: block;

        &:hover {
          background-color: whitesmoke;
        }
      }
    }
  }

  &.is-aligned-right .dropdown-menu {
    right:0;
    left: auto;
  }

  &.is-open .dropdown-menu {
    display: block;
  }
}

button.navbar-item {
  background-color: white;
  border: none;
  color: $text-light;
}

.navbar {
  height: 4.5rem;
}

.navbar-item img {
  max-height: 2.8rem;
}
